.navbar
{
    background-color: rgb(60, 169, 183);
    display: block;
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar_links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    text-decoration: none;
   padding: 5px;
}
